<section class="container">
  <div class="photo-show">
    <div class="photo-show-image">
      <%= image_tag @photo.image_1.large %>
    </div>

    <div class="photo-show-copy">
      <h3><%= @photo.title %></h3>
      <p><%= @photo.description %></p>
      <p><%= @photo.size %></p>
      <p><%= @photo.price_details%></p>

      <% if @photo.is_sold_out?%>
        <div class="sold">
          <p>Sold</p>
        </div>
      <%end%>


      <div class="button-secondary">

        <div>
        <%= link_to root_path do %>
          <%= image_tag "arrow_left.svg" %>Back to gallery
        <% end %>
        </div>

        <div>
          <%= link_to root_path do %>
            <%= image_tag "arrow_left.svg" %>Previous /
          <% end %>

          <%= link_to root_path do %>
            Next <%= image_tag "arrow_right.svg"%>
          <% end %>
        </div>

      </div>




    </div>




  </div>

</section>
