<section class="container">
  <div class="photo-show">
    <div class="photo-show-image">
      <%= image_tag @photo.image_1.large %>
    </div>

    <div class="photo-show-copy">
      <h3><%= @photo.title %></h3>
      <p><%= @photo.description %></p>
      <p><%= @photo.size %></p>
      <p><%= @photo.price_details%></p>

      <% if @photo.is_sold_out?%>
        <div class="sold">
          <p>Sold</p>
        </div>
      <%end%>

      <div class="buttons margin-top-max">

        <div class="button-secondary">
        <%= link_to root_path do %>
          <%= image_tag "arrow_left.svg", class: "button-image-left" %>Back to gallery
        <% end %>
        </div>


          <div class="buttons">
            <div class="button-secondary">
              <%= link_to root_path do %>
                <%= image_tag "arrow_left.svg", class: "button-image-left"  %>Previous /
              <% end %>
            </div>

            <div class="button-secondary">
              <%= link_to root_path do %>
              Next <%= image_tag "arrow_right.svg", class: "button-image-right" %>
              <% end %>
            </div>
          </div>

    </div>









    </div>




  </div>

</section>
