<!DOCTYPE html>
<html>
  <head>
    <title>Eddiegosneyphotography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%=link_to "Eddie Gosney", root_path %></h1>
      <nav class="active">
          <% Category.all.each do |cat| %>
            <%= active_link_to cat.title, root_path(category: cat.title), active:{category: cat.title} %>
          <% end %>

          <%= active_link_to "About", about_path %>
          <%= active_link_to "Contact", contact_path %>
      </nav>
    </header>

      <%= yield %>


    <footer class="footer">
        <p>Copyright © 2018</p>
        <div>
          <a href="https://www.lauragosney.com/" target="_blank">  Site by lauragosney.com
          </a>
        </div>
      </footer>

  </body>
</html>
