<!DOCTYPE html>
<html>
  <head>
    <title>Eddiegosneyphotography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <h1><%=link_to "Eddie Gosney", root_path %></h1>
      <nav>
          <%=link_to "Portraits", root_path %></h1>
          <%=link_to "Landscapes", root_path %></h1>
          <%=link_to "Still life", root_path %></h1>
          <%=link_to "About", about_path %></h1>
          <%=link_to "Contact", contact_path %></h1>
      </nav>
    </header>
    <%= yield %>

    <footer class="footer">

        <p>Copyright © 2018</p>
        <div>
          <a href="https://www.lauragosney.com/" target="_blank">  Site by lauragosney.com
          </a>
        </div>
  </footer>
  </body>
</html>
